<?xml version="1.0"?>
<robot name="mobile_lift_arm"
  xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mobile_lift_arm)/urdf/base_vehicle.xacro"/>
  <xacro:include filename="$(find mobile_lift_arm)/urdf/scissor_lift.xacro"/>
  <xacro:include filename="$(find mobile_lift_arm)/urdf/robot_arm.xacro"/>
<!-- Base -->
  <xacro:base_vehicle/>

  <!-- Lift gắn trên base_link -->
  <xacro:scissor_lift parent="base_link"/>
  <!-- arm joints conditional -->
</ros2_control>
</robot>
