<?xml version="1.0"?>
<robot name="mobile_lift_arm"
  xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find mobile_lift_arm)/urdf/base_vehicle.xacro"/>
  <xacro:include filename="$(find mobile_lift_arm)/urdf/scissor_lift.xacro"/>
  <xacro:include filename="$(find mobile_lift_arm)/urdf/robot_arm.xacro"/>
  <xacro:include filename="$(find mobile_lift_arm)/urdf/robot_arm_6dof_wrapper.xacro"/>

  <!-- Base -->
  <xacro:base_vehicle/>

  <!-- Lift gắn trên base_link -->
  <xacro:scissor_lift parent="base_link"/>
  
  <!-- arm joints conditional -->
  <joint name="arm_j1"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  <joint name="arm_j2"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  <joint name="arm_j3"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  <joint name="arm_j4"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  <joint name="arm_j5"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
  <joint name="arm_j6"><command_interface name="position"/><state_interface name="position"/><state_interface name="velocity"/></joint>
</ros2_control>
</robot>
